/* Colors:
  #FFFFFF - white
  #000000 - black
  #689DC1 - blue
  #1A446C - dark blue
  #D4E6F4 - light blue
*/
html { height: 100%; width: 100%; }
body {
  width: 100%; height: 100%; 
  margin: 0; padding: 0; border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 13px; line-height: 15px;
  background: #D4E6F4;
}
img { border: none; }
a { color: #1A446C; }
a:hover { color: #000000; }
  
#header { 
  height: 70px; 
  margin: 0; padding: 0; text-align: left; 
  background: #000000; color: #D4E6F4;
}
#header h1 { padding: 1em; margin: 0; }
#main { 
  height: 500px; width: 100%; 
  margin: 0; padding: 0; 
  background: #FFFFFF;
}
#footer { 
  clear: both;
  height: 2em; margin: 0; padding: 1em; 
  text-align: center; 
  background: #000000;  color: #D4E6F4;
}

/* Navigation */
#navigation { 
  float: left;
  width: 150px; height: 100%; 
  margin: 0; padding: 0 2em; 
  color: #D4E6F4; background: #1A446C;
}
#navigation a { color: #D4E6F4; text-decoration: none; }
#navigation a:hover { color: #FFFFFF; }
ul.subjects { 
  margin: 1em 0; padding-left: 0; list-style: none;
}
ul.pages { padding-left: 2em; list-style: square; font-weight: normal; }
.selected { font-weight: bold; }

/* Page Content */
#page { 
  float: left; height: 100%;
  padding-left: 2em; vertical-align: top; 
  background: #FFFFFF;
}
#page h2 { color: #1A446C; margin-top: 1em;}
#page h3 { color: #1A446C; }
.view-content {
  margin: 1em; padding: 1em; border: 1px solid #999;
}

div.message { 
  border: 2px solid #1A446C;
  color: #1A446C; font-weight: bold;
  margin: 1em 0 ; padding: 1em; 
}

/* Sidebar */
#sidebar { 
  float: right;
  width: 150px; height: 100%; 
  margin: 0; padding: 0 2em; 
  color: #D4E6F4; background: #1A446C;
}
#sidebar a { color: #D4E6F4; text-decoration: none; }
#sidebar a:hover { color: #FFFFFF; }
#sidebar ul.subjects { 
  margin: 1em 0; padding-left: 0; list-style: none;
}
#sidebar ul.pages { padding-left: 2em; list-style: square; font-weight: normal; }
.selected { font-weight: bold; }

/* errors */
.error {
  color: #1A446C; border: 2px solid #1A446C;
  margin: 1em 0; padding: 1em;
}
.error ul { padding-left: 2em; }
